*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: inherit
}
li, ol{
    list-style: none;
}
img{
    width: 100%;
}

._container{
    max-width: 1140px;
    margin: 0 auto;
}

#menu-toggle { display: none; }

/* 1. ШАПКА */

.header{
    position: fixed;
    max-height: 90px;
    height: 100%;
    width: 100%;
    background-color: white;
}
.header__logo{ 
    max-height: 90px; 
    padding: 8px;
}
.logo { max-height: 90px; max-width: 90px }
.header__menu-items { display: flex; }
.header-wrapper{ 
    display: flex; 
    height: 90px;
    align-items: center;
}
.header__menu-item:not(:last-child) { margin-right: 24px;}
.header__menu{
    transition: 0.2 ease;
}

@media screen and (min-width: 900px){
    .header__logo{ position: absolute; }
    .header__menu{ margin: auto; }
}
@media screen and (min-width: 578px){
    .header-wrapper{
        justify-content: space-between;
    }
    .header__menu{ margin-left: auto; padding: 8px}
}

/* Меню "бургер" */
.burger-btn{
    display: none;
}

@media screen and (max-width: 577px){
    .burger-btn{
        display: flex;
        align-items: center;
        position: absolute;
        right: 16px;
        height: 50px;
        width: 60px;
        margin: 8px;
        top: 8px;
    }
    .burger-btn__line, .burger-btn__line:after, .burger-btn__line:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: all 0.2s ease;
    }
    .burger-btn__line:after{
        content: '';
        top: -10px;
    }
    .burger-btn__line:before{
        content: '';
        top: 10px;
    }

    #menu-toggle:checked + .burger-btn > .burger-btn__line{
        transform: rotate(45deg);
    }
    #menu-toggle:checked + .burger-btn > .burger-btn__line:after{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked + .burger-btn > .burger-btn__line:before{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:not(:checked) ~ .header__menu-box{
        display: none;
    }

    /* Шапка для мобилки */
    .header-wrapper{ display: block; }
    .header__menu-box{
        transition-duration: 0.2s;
    }
    .header__menu-item:not(:last-child) { margin-right: 0;}

    .header__menu-items{ display: block;}
    .header__menu-item{
        text-align: center;
        padding: 8px;
        width: 100%;
        background-color: rgb(255, 218, 117);
        border: 1px solid rgb(255, 217, 189);
        transition: 0.2s ease;
    }
    .header__menu-item:hover{
        transform: scale(1.1);
        background-color: rgb(245, 248, 63);

    }
    .header__menu-link{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
